<?xml version="1.0" encoding="UTF-8"?>
<options xmlns="http://marklogic.com/appservices/search">
	<constraint name="jobInstance">
		<element-query name="jobInstance" ns="http://marklogic.com/spring-batch/job-instance" />
	</constraint>
	<constraint name="jobInstanceId">
		<value>
			<element name="id" ns="http://marklogic.com/spring-batch/job-instance" />
		</value>
	</constraint>
	<constraint name="jobName">
		<value>
			<element name="jobName" ns="http://marklogic.com/spring-batch/job-instance" />  
		</value>
	</constraint>
	<constraint name="jobParameter">
		<value>
			<element name="jobParameter" ns="http://marklogic.com/spring-batch/job-parameter" />  
		</value>
	</constraint>
	<constraint name="status">
		<value>
			<element name="status" ns="http://marklogic.com/spring-batch" />  
		</value>
	</constraint>
	<operator name="sort">
   		<state name="date">
      		<sort-order direction="descending" type="xs:dateTime">
         		<element ns="http://marklogic.com/spring-batch" name="createDateTime"/>
      		</sort-order>
		</state>
 	</operator>
 	<sort-order type="xs:dateTime" direction="descending">
  		<element ns="http://marklogic.com/spring-batch" name="createDateTime"/>
    </sort-order>
	<transform-results apply="raw" />
</options>